/* .task {

    border: 1px solid  seagreen;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.tasks > .task {
    margin: 5px
} */


.animals {
    display: flex;
    justify-content: space-evenly;
}

.icon--task {
    width: 50px;
    height: 50px;
}

.card {
    width: 15rem;
}

.card-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

/* .card-link {
    margin: 12px 0 0 0;
    font-size: 0.7em;
} */

.ownerList {
    font-size: 0.75em;
}

.main {
    display: flex;
    justify-content: center;
    margin: 0 0 10px 0;
  }

  .tasks {
    justify-content: center;
    margin: 0 0 10px 0;
  }

